.card {
    height: 100%;
    .card-title {
        font-family: Goodtimes;
    }
    .text-muted {
        text-decoration-line: line-through;
    }
    .card-prices {
        font-size: 1.3rem;
    }
}