@import '../utilities/mixins';

footer {
    text-align: center;
    height: 280px;
    width: 100%;
    background-color: $lightpink;
    border-top: 3px solid $pink;
    color: white;
    padding: 10px;
    margin-bottom: 50px;
    @include bootstrapmedia(md) {
        margin-bottom: 0px;
    }
}