nav {
  background-color: $lightblue;
  // background-color: transparent;
  color: white;
  font-family: 'Goodtimes';
  font-size: 1.2rem;
  font-weight: 800;
  position: fixed !important;
  width: 100vw;
  z-index: 1;
  transition: background-color 0.5s;
  @include bootstrapmedia(md) {
    background-color: transparent;
  }
}
