.timer {
    color: $darkpink;
    font-family: 'Goodtimes';
    font-size: 2.4rem;
    background-color: $lightblue;
    border-radius: 3px;
    padding: 5px;
    margin-left: 5px;
    width: 183px;
}
#clock-icon {
    margin-left: 10px;
    font-size: 2rem;
    color: $darkpink;
}