// @import './scss/utilities/mixins';

.home__header {
  height: calc(100vh - 56px); // 56px is navbar's height
  width: 100%;
}

.home__logo-column {
  margin-top: 10px;
  @include bootstrapmedia(sm) {
    margin-top: 30px;
  }
}

.home__header-background {
  background-image: url('./assets/images/icecream-3.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}